@charset "UTF-8";

html {
  margin: 0;
  padding:0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Georgia, 游明朝, YuMincho, "Hiragino Mincho ProN", Meiryo, serif;
  font-weight: 500;
  color: #333;
  line-height: 2.0;
  letter-spacing: 0.1em;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
 }

h2,h3,h4,h5 {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  vertical-align: bottom;
}

figure {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul,li,dl,dt,dd {
  margin:0;
  padding:0;
  list-style: none;
}

a { 
  text-decoration: none; 
  transition: all .6s ease;
}

a:hover { 
  transition: all .6s ease;
}

.content-wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1400px;
}

section h2 {
  font-size: 2rem;
}

/* index/header */

header{
  height: 100px;
  text-align: center;
  margin: 50px 0;
}

header .content-wrapper{
  height: 100%;
  display: flex;
}

.header-left{
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
}

.header-left h1{
  margin: 0;
  padding: 0;
  font-weight: 700;
}

.header-left p{
  margin: 0;
  color: #777777;
}

.header-center{
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
}

.header-center nav ul{
  display: flex;
}

.header-center nav{
  margin: 0 auto;
}
.header-center li{
  margin-right: 20px;
}

.header-center a{
  text-decoration: none;
  color: #000;
}

.header-right{
  display: flex;
  align-items: center;
  height: 100%;
  width: 25%;
  text-align: center;
}

.header-right h2{
  margin: 0 auto;
}

/* index/mainvisual */

.mainvisual{
  width: 100%;
  height: 600px;
}

.mainvisual .content-wrapper{
  display: flex;
  flex-direction: column;
}

.mainvisual img{
  object-fit: cover;
  width: 100%;
  height: 500px;
}

.mainvisual h2{
  margin-top: 50px;
  font-weight: normal;
  color: #777777;
  text-align: center;
}

